@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #e6dddd;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--foreground);
  background: var(--background);
}
/* body.dark{

  color: #f9f9f8;
background-color: black;
} */
li.dark{
  color: #bdeb79;
}
 .dark { color: rgb(192, 185, 185);
background-color: rgb(14, 9, 9);}

.light{
  background-color: white;
  color: rgb(23, 23, 24);
}
.img{

  position: absolute;
  right: 15rem;
  top: 17rem;
  
  /* border-right-color: blue;
  border-bottom-color: blue ; */
}

/* .bcgrn{
  background-color: blue;
} */
.herotextposition {

  position: relative;
  top: 10rem;
  left: -5rem;
  width: 50%;
}
.heroHeaderpostion{

    position: relative;
  top: 10rem;
  left: 14rem;
}
.iconplacmnt {
  position: fixed;
  top: -3.3rem;
  right: -35rem;
  z-index: 15;
  


}

/* // globals.css (Your global styles) */
.light {
  --text-color: black;
  --bg-color: white;
  /* ... other light mode styles ... */
}

.dark {
  --text-color: white;
  --bg-color: #381c1c; /* Or a suitable dark background */
    /* ... other dark mode styles ... */
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme styles */
body.light {
  background-color: white;
  color: black;
}

body.light h1 {
  color: #2b2121; /* Dark gray for headings */
}

body.light p {
  color: #333; /* Slightly lighter gray for paragraphs */
}

body.light button {
  background-color: #1a1a1a; /* Dark gray background for buttons */
  color: white; /* White text for buttons */
  border: 1px solid #1a1a1a;
}

/* Dark theme styles */
body.dark {
  background-color: rgb(10, 19, 10);
  color: white;
}

body.dark h1 {
  color: #32ac53; /* White for headings */
}

body.dark p {
  color: #e5efe6; /* Light gray for paragraphs */
}

body.dark button {
  background-color: #ffffff; /* White background for buttons */
  color: #364197; /* Dark text for buttons */
  border: 1px solid #ffffff;
}
.coloorrr{
  background-color: #c3f4c9
}
.headerBgrnd{ 
  background-color: rgb(10, 19, 10);
}